name: "pactflow"

on:
  push:
    branches-ignore:
      - "master"

  pull_request:
    types:
      - "closed"

# (This just saves defining these multiple times for different pact jobs)
env:
  VERSION: "1.0.0"
  APPLICATION_NAME: "pact-demo-api1"
  PACT_BROKER_BASE_URL: ${{ secrets.PACT_BROKER_BASE_URL }}
  PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
  OAS_FILE: ./oas/openapi.yaml
  RESULTS_FILE: ./results/report.md

jobs:
  pact-publish-oas-action:
    runs-on: ubuntu-latest
    steps:
      # MANDATORY: Must use 'checkout' first
      - uses: actions/checkout@v2
      - name: Publish provider spec
        run: ./.github/workflows/publish.sh
      - name: Check I can deploy to $ENVIRONMENT
        if: success()
        run: ./.github/workflows/can-i-deploy.sh
