name: "pactflow"

on:
  push:
    branches-ignore:
      - "master"

  pull_request:
    types:
      - "closed"

# (This just saves defining these multiple times for different pact jobs)
env:
  VERSION: "1.0.0"
  APPLICATION_NAME: "pact-demo-api1"
  PACT_BROKER_BASE_URL: ${{ secrets.PACT_BROKER_BASE_URL }}
  PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
  OAS_FILE: ./oas/openapi.yaml
  RESULTS_FILE: ./results/report.md

jobs:
  pact-publish-oas-action:
    runs-on: ubuntu-latest
    steps:
      # MANDATORY: Must use 'checkout' first
      - uses: actions/checkout@v2
      - run: ./publish.sh
      # - name: Publish provider contract on passing test run
      #   if: success()
      #   uses: pactflow/actions/publish-provider-contract@v1.0.1
      #   env:
      #     oas_file: $oas_file
      #     results_file: $results_file
